.js-counter {
    position: absolute;
    top: 14px;
    left: -50px;
    line-height: 0;
    float: left;
    color: #bdc1c6;
    font-size: 19px;
    animation: linear fadeIn .3s;
    user-select: none;
}

/* Featured snippet box */
.c2xzTb {
    overflow: visible !important;
}

/* Fix indented results not showing numbers */
.jtfYYd,
.kWxLod {
    overflow: inherit !important;
    contain: inherit!important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
