.js-counter {
    position: relative;
    top: 12px;
    left: -60px;
    line-height: 0;
    float: left;
    color: #ccc;
    font-size: 171%;
    animation: linear fadeIn .3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}